.mat-dialog-container {
    padding: 16px;
}
  
mat-form-field .mat-form-field-label {
    line-height: 1.5; 
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
}
  
mat-form-field {
    width: 100%;
    margin-bottom: 16px;
}
  
button {
    margin-right: 8px;
}

mat-label {
    font-size: 14px;
}
