<div *ngIf="loading">Loading user data...</div>
<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
<div *ngIf="!loading && data.length">
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let user">{{ user.email }}</td>
        </ng-container>

        <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef>Full Name</th>
            <td mat-cell *matCellDef="let user">{{ user.firstName }} {{ user.middleName }} {{ user.lastName }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>
        
        <!-- Expanded Content -->
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']">
            <td mat-cell [attr.colspan]="displayedColumns.length">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            More Information for {{ row.email }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Additional Data: {{ row.additionalData }}</p>
                    <!-- Add more fields as needed -->
                </mat-expansion-panel>
            </td>
        </tr>
    </table>
</div>
