<div class="login-container">
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" ngModel required email>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" ngModel required minlength="6">
        </div>
        <button type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>
        <div class="register-link">
            <a routerLink="/register">Create an account</a>
        </div>
</div>
